<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>es_cat</string>
	<key>CFBundleDisplayName</key>
	<string>Vincles BCN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>your-url-identifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vincles</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20170601</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>your-key</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>84.88.76.6</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Sincronitzarem els esdeveniments de l&apos;agenda al teu calendari</string>
	<key>NSCameraUsageDescription</key>
	<string>Farem servir la càmera per fer fotos i vídeos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Farem servir el micròfon per gravar missatges de veu.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Emmagatzemarem les teves fotos i vídeos a la galeria.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Akkurat.ttf</string>
		<string>Akkurat-Light.ttf</string>
		<string>Akkurat-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
